:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-border-DEFAULT);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--chakra-colors-fg-muted);
}

.ProseMirror {
  outline: none;
}

.ProseMirror-selectednode {
  outline: none !important;
}

.ProseMirror::after {
  content: "";
  display: table;
  clear: both;
}
